/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 800;
}

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Lato", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 800;
}

a, a:visited, a:hover {
  color: rgb(255, 255, 255);
}

#steps {

}

section {
  height: 100vh;
  position: relative;
}

.container {
  padding: 80px 30px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.button-bottom button {
  display: block;
  margin: 0 auto;
  z-index: 100;
}

.input-top {
  position: absolute;
  top: 30px;
  width: 100%;
}

.input-top input {
  display: block;
  margin: 0 auto;
  z-index: 100;
}

button {
  background-color: transparent;
  border: 3px solid white;
  background: white;
  color: #333;
  padding: 5px 25px;
  font-size: 1.5em !important;
  border-radius: 4px;
  box-shadow: 0 4px 0 rgba(0,0,0,.3);
  font-size: inherit;
  text-transform: none;
  font-weight: normal;
  transition: .1s ease-in-out;
}

.leaflet-container {
  background: none;
}

h1, h2 {
  border-bottom-color: rgba(255,255,255, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

code {
  background: none repeat scroll 0 0 rgba(230, 230, 230, 0.5);
  border: 1px solid rgba(230, 230, 230, 0.2);
}

/* Step: Introduction
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Step: Map
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#step-map-hole {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('../images/circle-hole.svg');
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
}

/* Step: Overpass API
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#step-overpass-editor-container .CodeMirror {
  height: 135px;
}

/* Step: GeoJSON
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#step-geojson-editor-container .CodeMirror {
  height: 400px;
}

/* Step: SVG
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#step-svg-img {
  display: block;
  margin: 0 auto;
}

@media (min-width:320px) {
  body{
    font-size: 85%;
  }
  .intro__title{
    font-size: 3em;
  }
  .summary__figure{
    width: 100%;
  }
  .summery__content{
    width: 100%;
    padding: 0 $gutter;
  }
  .big__padding{
    padding: $gutter;
  }
}
@media (min-width:481px) {
  body{
    font-size: 1.3em;
  }
}

@media (min-width:641px) {
  h1{
    font-size: 5rem;
  }
}

@media (min-width:961px) {
}

@media (min-width:1025px) {
}

@media (min-width:1281px) {
  body{
    font-size: 1.7em;
  }
  h1{
    font-size: 7rem;
  }
}

@media (min-width:2000px) {
}
